<div id="admin-messages" class="span-24">
  <%= yield :messages -%>
  <%= output_flash(:class => 'notify-box') %>
</div>
<div id="admin-account" class="navigation span-24">
  <ul>
    <li><%= link_to current_user.login, user_path(current_user) %>&nbsp;&nbsp;|</li>
    <li><%=link_to translate('muck.engine.admin_logout'), '/logout' %></li>
  </ul>
</div>
<div id="main-navigation" class="navigation">
  <ul id="admin-nav">
    <%= render :partial => 'layouts/admin/header_nav_item', :collection => MuckEngine.configuration.muck_admin_nav_items %>
  </ul>
</div>
<div id="sub-header" class="span-24">
  <%= sub_navigation %>
</div>