<!doctype html>
  <!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <%= render :partial => 'layouts/global/head' %>
</head>
<body>
  <div id="wrapper" class="container">
    <%= render :partial => 'layouts/global/header' %>
    <div id="content-wrapper">
      <div id="content">
        <%= yield :layout %>
      </div>
    </div>
    <%= render :partial => 'layouts/global/footer' %>
  </div>
  <%= yield :javascript %>
  <%= render :partial => 'layouts/global/google_analytics' %>
</body>
</html>