<title><%= @page_title || MuckEngine.configuration.application_name %></title>
<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="distribution" content="all" />
<meta name="robots" content="all" />	
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<% if MuckEngine.configuration.local_jquery -%>
  <link rel="stylesheet" href="/stylesheets/jquery/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" />
  <script src="/javascripts/jquery/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>
<% else -%>
  <%= google_load_jquery_ui_css(http_protocol, 'smoothness', '1.8.4') %>
  <%= google_load_jquery(http_protocol, '1.4.2') %>
  <%= google_load_jquery_ui(http_protocol, '1.8.4') %>
<% end -%>
<%= stylesheet_link_tag %W{ reset styles blueprint/screen.css default }, :cache => true %>
<%= javascript_include_tag %w{
  jquery/jquery.form.js
  jquery/jquery.jgrowl.js
  jquery/jquery.tips.js
  jquery/jquery.easing.js
  jquery/jquery.fancybox.js
  muck.js
  application.js }, :cache => 'all_js_cached' %>
<%= javascript_tag %[const AUTH_TOKEN = #{form_authenticity_token.inspect};] if protect_against_forgery? %>
<%= yield :head -%>