<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= yield  %>

    <p>Thanks very much,<br />

    The <%=MuckEngine.configuration.application_name%> Team</p>

    <hr />
    <p>Please add <%=MuckEngine.configuration.support_email%> to your email address book and “safe domain” lists.</p>

    <p>
      We respect your privacy; please view our privacy policy here:
      <a href="http://<%=MuckEngine.configuration.application_url%>/privacy"><%=MuckEngine.configuration.application_url%>/privacy</a>
    </p>
  </body>
</html>